html, body, ul, li, input, button, div, main, footer {
  background: transparent;
  font: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul.rooms:before {
  content: "ROOMS";
  color: #838383;
  font-weight: bold;
  font-size: 13px;
}

ul.people:before {
  content: "PEOPLE";
  color: #838383;
  font-weight: bold;
  font-size: 13px;
}

.sidebar {
  background-color: #F5F5F5;
  position: absolute;
  width: 200px;
  padding: 10px;
  height: 100%;
  font-size: 15px;
}

li.mine {
  background: #E0EAF3;
}

ul.dialog > li {
  position: relative;
  border-bottom: 1px solid #F5F5F5;
  height: 20px;
  padding-top: 12px;
  padding-bottom: 10px;
}

ul.dialog div.author {
  color: #707070;
  position: absolute;
  left: 20px;
  width: 80px;
  overflow: hidden;
}

ul.dialog div.contents {
  position: absolute;
  left: 100px;
}

ul.dialog div.time {
  position: absolute;
  right: 20px;
  color: #A1A1A1;
  font-size: 12px;
}

main {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  right: 0px;
  top: 0;
  left: 220px;
  bottom: 30px;
}

footer {
  border-top: 1px solid #CCC;
  position: fixed;
  bottom: 0px;
  background-color: #E9E9E9;
  height: 33px;
  left: 220px;
  right: 0px;
  box-sizing: border-box;
  padding: 4px 7px 4px 7px;
}

form {
  width: 100%;
}

footer input {
  border: 1px solid #CCC;
  /*position: absolute;*/
/*  bottom: 4px;
  top: 4px;
  left: 7px;
  right: 0px;*/
  margin: 0;
  border-radius: 5px;
  height: 25px;
  background-color: white;
  width: 100%;
}

button.message-new {
  display: hidden;
}